.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.winky-sans {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  text-align: center;
  font-family: "lobster", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-family: "lobster", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 35px;
}
h3 {
  text-align: left;
  font-family: "lobster", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
}
h4 {
  text-align: left;
  font-family: "lobster", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

p {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: justify;
  font-style: italic;
  font-weight: 100;
  font-size: large;
  font-family: "winkysans", sans-serif;
  line-height: 1.5;
}

li {
  font-style: italic;
  font-weight: 100;
  font-size: large;
  font-family: "winkysans", sans-serif;
  line-height: 1.5;
}

a {
  color: black; /* Set text color to black */
  text-decoration: none; /* Optional: removes underline from the link */
}

.center {
  text-align: center;
}

/* Main Section Format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5%;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-radius: 8px; /* Rounded corners */
}

.image-clip {
  width: 100%;
  z-index: -1;
  display: block;
  position: relative;
  top: -200px;
  opacity: 100%;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 79.37%,
    1% 79.09%,
    2% 78.84%,
    3% 78.62%,
    4% 78.44%,
    5% 78.3%,
    6% 78.19%,
    7% 78.13%,
    8% 78.09%,
    9% 78.1%,
    10% 78.14%,
    11% 78.23%,
    12% 78.34%,
    13% 78.5%,
    14% 78.69%,
    15% 78.92%,
    16% 79.18%,
    17% 79.47%,
    18% 79.8%,
    19% 80.16%,
    20% 80.54%,
    21% 80.96%,
    22% 81.4%,
    23% 81.86%,
    24% 82.35%,
    25% 82.86%,
    26% 83.39%,
    27% 83.93%,
    28% 84.49%,
    29% 85.07%,
    30% 85.65%,
    31% 86.24%,
    32% 86.83%,
    33% 87.43%,
    34% 88.03%,
    35% 88.63%,
    36% 89.22%,
    37% 89.81%,
    38% 90.39%,
    39% 90.96%,
    40% 91.51%,
    41% 92.05%,
    42% 92.57%,
    43% 93.07%,
    44% 93.56%,
    45% 94.01%,
    46% 94.45%,
    47% 94.85%,
    48% 95.23%,
    49% 95.58%,
    50% 95.89%,
    51% 96.18%,
    52% 96.42%,
    53% 96.64%,
    54% 96.82%,
    55% 96.96%,
    56% 97.07%,
    57% 97.14%,
    58% 97.17%,
    59% 97.16%,
    60% 97.12%,
    61% 97.04%,
    62% 96.92%,
    63% 96.76%,
    64% 96.57%,
    65% 96.35%,
    66% 96.08%,
    67% 95.79%,
    68% 95.46%,
    69% 95.11%,
    70% 94.72%,
    71% 94.3%,
    72% 93.86%,
    73% 93.4%,
    74% 92.91%,
    75% 92.4%,
    76% 91.87%,
    77% 91.33%,
    78% 90.77%,
    79% 90.2%,
    80% 89.61%,
    81% 89.02%,
    82% 88.43%,
    83% 87.83%,
    84% 87.23%,
    85% 86.63%,
    86% 86.04%,
    87% 85.45%,
    88% 84.87%,
    89% 84.31%,
    90% 83.75%,
    91% 83.21%,
    92% 82.69%,
    93% 82.19%,
    94% 81.71%,
    95% 81.25%,
    96% 80.82%,
    97% 80.41%,
    98% 80.03%,
    99% 79.69%,
    100% 79.37%
  );
}

.image-clip img {
  width: 100%;
}

main {
  border-radius: 8px; /* Rounded corners */
  margin-left: auto;
  margin-right: auto; /* Center the main section horizontally */
  padding: 4vh;
}

section {
  border-radius: 8px; /* Rounded corners */
  max-width: 1400px; /* Set a maximum width */
  margin-left: auto;
  margin-right: auto; /* Center the main section horizontally */
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background: linear-gradient(to top, #00000079, #ffffff);
  width: 100%;
  display: flex;
  justify-content: center; /* Center the grid container */
}

footer .footer-grid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
/* Navigation Bar Format */
#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #000000;
  cursor: pointer;
  display: none;
}

/* Navigation links */
nav a {
  font-family: "lobster", sans-serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  min-width: 8rem;
  text-align: center;
  border-right: 2px solid #000000;
  border-radius: 3px;
}

/* Hover effect for links */
nav a:hover {
  color: orange;
  border-color: orange;
}

.column .location {
  display: flex;
  line-height: 2px;
}

.column .location img {
  max-width: 20px;
  max-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.column .location p {
  margin-left: 5px;
  font-family: "lobster";
  text-align: left;
}

.column .logo {
  text-align: center;
}

.column .logo img {
  margin-left: auto;
  margin-right: auto;
}
.column .social {
  text-align: right;
}
.column .social img {
  max-width: 60px;
}

/* Gallery 3 grid images*/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
  gap: 20px; /* Space between images */
}

.gallery img {
  width: 100%; /* Make images responsive */
  height: auto; /* Keep image aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners for a nice effect */
}

/* Gallery 4 grid images*/
.gallery4 {
  display: grid;
  z-index: 0;
  grid-template-columns: repeat(4, 1fr); /* Creates 3 columns */
  gap: 20px; /* Space between images */
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery4 img {
  width: 100%; /* Make images responsive */
  height: auto; /* Keep image aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners for a nice effect */
}

/* Gallery 5 */
/* Gallery 4 grid images*/
.gallery5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 3 columns */
  gap: 20px; /* Space between images */
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery5 img {
  width: 100%; /* Make images responsive */
  height: auto; /* Keep image aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners for a nice effect */
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
}

.image {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Adds text shadow for better readability */
  text-align: center;
}

/* Table */
table {
  font-style: italic;
  font-weight: 100;
  font-size: large;
  font-family: "winkysans", sans-serif;
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  white-space: nowrap;
}
th {
  background-color: #f4f4f4;
  font-weight: bold;
  white-space: nowrap;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #e0e0e0;
}
.price {
  font-weight: bold;
  color: #333;
}

.aboutme {
  display: flex;
}
.aboutme img {
  margin: 30px;
  max-width: 40%;
  border-radius: 50%;
}

.box {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 962px) {
  .aboutme {
    display: block;
  }

  .aboutme img {
    margin: 30px;
    max-width: 90%;
    border-radius: 50%;
  }

  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgb(255, 255, 255, 0.7);
    font-size: 1.1rem;
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ nav {
    height: 12rem;
    background: rgba(255, 255, 255, 0.7);
  }

  nav a {
    display: block;
    text-align: center;
    border: 0;
    line-height: double;
    transform: translateY(-150px);
    transition: 0.3s ease;
  }

  #check:checked ~ nav a {
    transform: translateY(0);
  }

  table {
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  footer .column .location {
    display: grid;
  }
  footer .column .location img {
    display: none;
  }

  footer .column .logo {
    display: none;
  }

  footer .column .social {
    display: grid;
  }
}

/* Responsive layout for smaller devices */
@media (max-width: 760px) {
  .gallery {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}

/* Responsive layout for smaller devices */
@media (max-width: 760px) {
  .gallery4 {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}

/* Responsive layout for smaller devices */
@media (max-width: 760px) {
  .gallery5 {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}
