.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.winky-sans {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  text-align: center;
  font-family: "lobster", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-family: "lobster", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 35px;
}
h3 {
  text-align: left;
  font-family: "lobster", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
}
h4 {
  text-align: left;
  font-family: "lobster", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

p {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: justify;
  font-style: italic;
  font-weight: 100;
  font-size: large;
  font-family: "winkysans", sans-serif;
  line-height: 1.5;
}

li {
  font-style: italic;
  font-weight: 100;
  font-size: large;
  font-family: "winkysans", sans-serif;
  line-height: 1.5;
}

a {
  color: black; /* Set text color to black */
  text-decoration: none; /* Optional: removes underline from the link */
}

.center {
  text-align: center;
}

/* Main Section Format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5%;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-radius: 8px; /* Rounded corners */
}

main {
  border-radius: 8px; /* Rounded corners */
  margin-left: auto;
  margin-right: auto; /* Center the main section horizontally */
  padding: 4vh;
}

section {
  border-radius: 8px; /* Rounded corners */
  max-width: 1400px; /* Set a maximum width */
  margin-left: auto;
  margin-right: auto; /* Center the main section horizontally */
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background: linear-gradient(to top, #00000079, #ffffff);
  width: 100%;
  display: flex;
  justify-content: center; /* Center the grid container */
}

footer .footer-grid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
/* Navigation Bar Format */
#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #000000;
  cursor: pointer;
  display: none;
}

/* Navigation links */
nav a {
  font-family: "lobster", sans-serif;
  font-style: italic;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  min-width: 8rem;
  text-align: center;
  border-right: 2px solid #000000;
  border-radius: 3px;
}

/* Hover effect for links */
nav a:hover {
  color: orange;
  border-color: orange;
}

.column .location {
  display: flex;
  line-height: 2px;
}

.column .location img {
  max-width: 20px;
  max-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.column .location p {
  margin-left: 5px;
  font-family: "lobster";
  text-align: left;
}

.column .logo {
  text-align: center;
}

.column .logo img {
  margin-left: auto;
  margin-right: auto;
}
.column .social {
  text-align: right;
}
.column .social img {
  max-width: 60px;
}

/* Gallery 3 grid images*/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
  gap: 20px; /* Space between images */
}

.gallery img {
  width: 100%; /* Make images responsive */
  height: auto; /* Keep image aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners for a nice effect */
}

/* Gallery 4 grid images*/
.gallery4 {
  display: grid;
  z-index: 0;
  grid-template-columns: repeat(4, 1fr); /* Creates 3 columns */
  gap: 20px; /* Space between images */
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery4 img {
  width: 100%; /* Make images responsive */
  height: auto; /* Keep image aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners for a nice effect */
}

/* Gallery 5 */
/* Gallery 4 grid images*/
.gallery5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 3 columns */
  gap: 20px; /* Space between images */
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery5 img {
  width: 100%; /* Make images responsive */
  height: auto; /* Keep image aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners for a nice effect */
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
}

.image {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Adds text shadow for better readability */
  text-align: center;
}

/* Table */
table {
  font-style: italic;
  font-weight: 100;
  font-size: large;
  font-family: "winkysans", sans-serif;
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  white-space: nowrap;
}
th {
  background-color: #f4f4f4;
  font-weight: bold;
  white-space: nowrap;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #e0e0e0;
}
.price {
  font-weight: bold;
  color: #333;
}

.aboutme {
  display: flex;
}
.aboutme img {
  margin: 30px;
  max-width: 40%;
  border-radius: 50%;
}

.box {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 962px) {
  .aboutme {
    display: block;
  }

  .aboutme img {
    margin: 30px;
    max-width: 90%;
    border-radius: 50%;
  }

  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgb(255, 255, 255, 0.7);
    font-size: 1.1rem;
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ nav {
    height: 12rem;
    background: rgba(255, 255, 255, 0.7);
  }

  nav a {
    display: block;
    text-align: center;
    border: 0;
    line-height: double;
    transform: translateY(-150px);
    transition: 0.3s ease;
  }

  #check:checked ~ nav a {
    transform: translateY(0);
  }

  table {
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  footer .column .location {
    display: grid;
  }
  footer .column .location img {
    display: none;
  }

  footer .column .logo {
    display: none;
  }

  footer .column .social {
    display: grid;
  }
}

/* Responsive layout for smaller devices */
@media (max-width: 760px) {
  .gallery {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}

/* Responsive layout for smaller devices */
@media (max-width: 760px) {
  .gallery4 {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}

/* Responsive layout for smaller devices */
@media (max-width: 760px) {
  .gallery5 {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}
